<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Khoot</title>
    <link rel="stylesheet" th:href="@{/index.css}" />
</head>
<body>
<div id="menu-page">
    <h1 style="color: rgb(71, 183, 67); font-size: 50px;">Chào mừng bạn đến với Game Khoot</h1>
    <div class="btn-menu-page">
        <button class="btn-create">Create</button>
        <button class="btn-join">Vào Phòng</button>
    </div>
</div>
<div id="game-page" class="hidden">
    <h1 style="color: rgb(71, 183, 67); font-size: 50px;">Chào mừng bạn đến với Game Khoot</h1>
    <h3 class="username">abc</h3>
</div>
<script type="text/javascript" th:src="@{/app.js}"></script>
</body>
</html>
